[Unit]
Description = Upgrade mash
Wants = network-online.target
After = network.target network-online.target

[Service]
Type = oneshot
ExecStart = /home/pi/Projects/mash/upgrade.sh

[Install]
WantedBy = multi-user.target
